%h1 #{current_user.name}'s boards

%table
  
-@boards.each do |board| 
  %tr
    %td= board.title 
    %td= link_to 'Show', board 
    %td= link_to 'Edit', edit_board_path(board) 
    %td= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } 
    %br

<br />
= link_to 'New Board', new_board_path
