%p=notice

= @board.title
= @board.user.name
 
 
= debug @board

%p
- @board.clips.each do |clip| 
  = link_to clip.url, clip 
  %br

= link_to 'Edit', edit_board_path(@board) 
|
= link_to 'Back', boards_path 
