<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Rubytrist" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

  </head>
  <body>

    <strong>
      <% if current_user.name.present? %>
        Logged in as: <%= current_user.name %>
        <%= button_to "Logout", "/session", {:method => :destroy} %>
      <% end %>
    </strong>
    
    <%= yield %>


    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
